.news__heading {
  margin: 0;
  margin-bottom: 16px;
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  color: #1A1B22;
}

@media screen and (max-width: 900px) {
  .news__heading{
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 10px;
  }
}