@import url('./__description/error__description.css');
@import url('./__heading/error__heading.css');
@import url('./__img/error__img.css');
@import url('./_is-hidden/error_is-hidden.css');

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 374px;
  margin: 0 auto;
}
