@import url('./__copyright/footer__copyrigt.css');
@import url('./__nav/footer__nav.css');
@import url('./__social-icon/footer__social-icon.css');
@import url('./__social-link/footer__social-link.css');
@import url('./__social/fotter__social.css');

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
