@import url('./__link/breadcrumbs__link.css');
@import url('./__separator/breadcrumbs__separator.css');


.breadcrumbs {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22;
}


 


