.main__to-customers{
  margin-top: 160px;
}

@media screen and (max-width: 900px) {
  .main__to-customers {
    margin-top: 96px;
  }
}

@media screen and (max-width: 599px) {
  .main__to-customers {
    margin-top: 72px;
  }
}