@import url('./__avatar/about-author__avatar.css');
@import url('./__description/about-author__description.css');
@import url('./__heading/about-author__heading.css');
@import url('./__text/about-author__text.css');

.about-author{
  display: flex;
  flex-direction: row;
  justify-content: left;
}





