.results__link {
  position: relative;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: rgba(0, 0, 0, 0);
  text-shadow: 0 0 0 #1A1B22, 0 36px 0 #347EFF;
  transition: text-shadow .35s ease-in;
  overflow: hidden;
}

.results__link:hover {
  text-shadow: 0 -36px 0 #1A1B22, 0 0 0 #347EFF;
}

.results__link>svg {
  margin-left: 10px;
}
