@import url("./_null/chart__progress_null.css");

.chart__progress {
  padding: 0 6px;
  background: #2F71E5;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 26px;
  display: flex;
  align-items: center;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #FFFFFF;
}
